.parent-loader {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-100);

  p {
    color: var(--quaternary-100);
    position: absolute;
    bottom: 2vw;
  }

  .loader {
    height: 2vw;
    aspect-ratio: 4;
    --_g: no-repeat
      radial-gradient(farthest-side, var(--tertiary-100) 90%, #0000);
    background:
      var(--_g) left,
      var(--_g) right;
    background-size: 25% 100%;
    display: grid;

    &:before,
    &:after {
      content: "";
      height: inherit;
      aspect-ratio: 1;
      grid-area: 1/1;
      margin: auto;
      border-radius: 50%;
      transform-origin: -100% 50%;
      background: var(--secondary-100);
      animation: l49 1s infinite linear;
    }
    &:after {
      transform-origin: 200% 50%;
      --s: -1;
      animation-delay: -0.5s;
    }
  }
}

@keyframes l49 {
  58%,
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
