<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/css-reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/button-styles.css">
    <title>codadept | Developer</title>
    <link rel="icon" href="/img/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="nav-header">
            <a href="/home"><img src="/img/icon.png"></a>
            <h1><a href="/home">codadept</a></h1>
        </div>
        <div class="nav-links">
            <!-- each links to be displayed only when that link is not visited -->
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </div>
        <a href="#" class="close"></a>
        <div class="ham">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </div>
    </header>

    <button id="btnScrollToTop">
        <img src="/img/up-arrow.svg" alt="up arrow">
    </button>
