<%- include('partials/head') %> 
    <section class="about">
        <div class="about-content">
            <div class="about-img">
                <img src="/img/about.svg" alt="about">
            </div>
            <div class="about-text">
                <div class="heading">
                    <h1>Know me more</h1>
                    <div class="desg"></div>
                    <h3>ABOUT</h3>
                </div>
                <div class="main">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, aliquid! Illum pariatur, vero rem nihil fugiat non, consequuntur eligendi nesciunt sapiente nulla aut? Magnam atque possimus repudiandae ipsum et, tempora placeat sit, mollitia, accusamus a odit enim deserunt recusandae velit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam nam aliquid vitae accusamus incidunt officiis sapiente veniam deserunt facilis.</p>
                </div>
                <div class="tech">
                    <h4>Technologies I know</h4>
                    <div class="tech-container">
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/python.svg" alt="python"><span class="tech-name">Python</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/cpp.svg" alt="cpp"><span class="tech-name">C++</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/c.svg" alt="c"><span class="tech-name">C</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/javascript.svg" alt="javacript"><span class="tech-name">JavaScript</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/html.svg" alt="html"><span class="tech-name">HTML</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/css.svg" alt="css"><span class="tech-name">CSS</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/nodejs.svg" alt="nodejs"><span class="tech-name">NodeJS</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/angular.svg" alt="angular"><span class="tech-name">Angular</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/react.png" alt="react"><span class="tech-name">React</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/typescript.svg" alt="typescript"><span class="tech-name">TypeScript</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/django.svg" alt="django"><span class="tech-name">Django</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/git.png" alt="git"><span class="tech-name">Git</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="education">
        <div class="edu-container">
            <div class="heading">
                <h1>About my education</h1>
                <div class="desg"></div>
                <h3>ACADEMICS</h3>
            </div>
            <div class="institutes">
                <div class="inst-container">
                    <div class="inst-details">
                        <h1>National Institute of Technology, Silchar, Assam</h1>
                        <h3>2020-24</h3>
                        <p>BTech, Computer Science and Engineering</p>
                        <a href="http://www.nits.ac.in/">Visit Website</a>
                    </div>
                    <div class="inst-img">
                        <img src="/img/nits.jpeg" alt="NIT Silchar">
                    </div>
                </div>
                <div class="inst-container">
                    <div class="inst-details">
                        <h1>The Little Stars Sr. Sec. School, Digboi, Assam</h1>
                        <h3>2012-20</h3>
                        <p>AISSCE</p>
                        <a href="http://www.littlestarsdigboi.com/">Visit Website</a>
                    </div>
                    <div class="inst-img">
                        <img src="/img/lss.jpeg" alt="LSSS Digboi">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cert">
        <div class="certificates">
            <div class="heading">
                <h1>Licenses and Certifications</h1>
                <div class="desg"></div>
                <h3>CERTIFICATES</h3>
            </div>
            <div class="cert-body">
                <div class="cert-container">
                    <div class="cert-details">
                        <h5>Data Science</h5>
                        <a href="https://www.credly.com/badges/da6689ad-56ac-457b-8b39-77e8daeb07a5?source=linked_in_profile">Credential</a>
                    </div>
                    <div class="cert-img">
                        <img src="/img/cert/datascience.jpg" alt="datascience">
                    </div>
                </div>
                <div class="cert-container">
                    <div class="cert-details">
                        <h5>NodeJS</h5>
                        <a href="http://ude.my/UC-6bf9dfe9-ff13-4a7b-b044-c6c1c45a255a">Credential</a>
                    </div>
                    <div class="cert-img">
                        <img src="/img/cert/nodejs.jpg" alt="nodejs">
                    </div>
                </div>
                <div class="cert-container">
                    <div class="cert-details">
                        <h5>Django</h5>
                        <a href="http://ude.my/UC-188d94d1-6748-4e21-b268-5acd04391ccf/">Credential</a>
                    </div>
                    <div class="cert-img">
                        <img src="/img/cert/django.jpg" alt="django">
                    </div>
                </div>
                <div class="cert-container">
                    <div class="cert-details">
                        <h5>Android</h5>
                        <a href="http://givemycertificate.com/verify/2101007922000014">Credential</a>
                    </div>
                    <div class="cert-img">
                        <img src="/img/cert/android.png" alt="android">
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/foot') %> 