<%- include('partials/head') %> 
    <section class="about">
        <div class="about-content">
            <div class="about-img">
                <img src="/img/about.svg" alt="about">
            </div>
            <div class="about-text">
                <div class="heading">
                    <h1>Know me more</h1>
                    <div class="desg"></div>
                    <h3>ABOUT</h3>
                </div>
                <div class="main">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, aliquid! Illum pariatur, vero rem nihil fugiat non, consequuntur eligendi nesciunt sapiente nulla aut? Magnam atque possimus repudiandae ipsum et, tempora placeat sit, mollitia, accusamus a odit enim deserunt recusandae velit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam nam aliquid vitae accusamus incidunt officiis sapiente veniam deserunt facilis.</p>
                </div>
                <div class="tech">
                    <h4>Technologies I know</h4>
                    <div class="tech-container">
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/python.svg" alt="python"><span class="tech-name">Python</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/cpp.svg" alt="cpp"><span class="tech-name">C++</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/c.svg" alt="c"><span class="tech-name">C</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/javascript.svg" alt="javacript"><span class="tech-name">JavaScript</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/html.svg" alt="html"><span class="tech-name">HTML</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/css.svg" alt="css"><span class="tech-name">CSS</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/nodejs.svg" alt="nodejs"><span class="tech-name">NodeJS</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/angular.svg" alt="angular"><span class="tech-name">Angular</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/react.png" alt="react"><span class="tech-name">React</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/typescript.svg" alt="typescript"><span class="tech-name">TypeScript</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/django.svg" alt="django"><span class="tech-name">Django</span></div>
                        <div class="tech-value"><img class="tech-icons" src="/img/icons/git.png" alt="git"><span class="tech-name">Git</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/foot') %> 