<%- include('partials/head') %> 
    <section class="contact">
        <div class="contact-details">
            <div class="contact-img">
                <img src="/img/contacts.svg" alt="Contacts">
            </div>
            <div class="socials">
                <div class="text">
                    <h1>Connect with me</h1>
                    <div class="desg"></div>
                    <h3>CONTACT</h3>
                    <p>Feel free to drop a text anytime!</p>
                </div>
                <a class="linkedin" href="https://www.linkedin.com/in/codadept/">Connect me on LinkedIn</a>
                <a class="twitter" href="https://www.twitter.com/itspratikmaj">Follow me on Twitter</a>
                <a class="instagram" href="https://www.instagram.com/itspratikmaj">Follow me on Instagram</a>
                <a class="facebook" href="https://www.facebook.com/itspratikmaj">Like me on Facebook</a>
            </div>
        </div>
    </section>
    <section class="contact-me">
        <div class="send-email">
            <div class="email-form">
                <form>
                    <h1>Send me a mail </h1>
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" required placeholder="John" name="firstname">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" required placeholder="Snow" name="lastname">
                    <label for="email">Email</label>
                    <input type="email" placeholder="johnsnow@email.com" name="email" id="email">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Write me a message"></textarea>
                    <button>Submit</button>
                </form>
                <div id="status">Success</div>
            </div>
            <div class="more-contact">
                <h2>I am here</h2>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28338.768921862345!2d95.61439045935887!3d27.396129509503705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f224bedb2f695%3A0x98e34c5fbbcbff5e!2sDigboi%2C%20Assam%20786171!5e0!3m2!1sen!2sin!4v1620020972308!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-info">                
                    <a class="call" href="tel:9101453497">+91 91014 53497</a>
                    <a class="email" href="mailto:info.pratikmajumdar@gmail.com">info.pratikmajumdar@gmail.com</a>
                    <a class="location" href="https://www.google.com/maps/place/Digboi,+Assam+786171/@27.3961295,95.6143905,14z/data=!3m1!4b1!4m5!3m4!1s0x373f224bedb2f695:0x98e34c5fbbcbff5e!8m2!3d27.3951473!4d95.6300233">Digboi, Assam</a>
                </div>
            </div>
        </div>
    </section>
    <script>
        var gmailPass ="<%= gmailPass %>";
    </script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/js/contact.js"></script>
<%- include('partials/foot') %> 