<%- include('partials/head') %> 
<section class="contact">
    <div class="contact-details">
        <div class="contact-img">
            <img src="/img/contacts.svg" alt="Contacts">
        </div>
        <div class="socials">
            <div class="text">
                <h1>Connect with me</h1>
                <div class="desg"></div>
                <h3>CONTACT</h3>
                <div class="more-contact">
                    <a class="call" href="tel:9101453497">+91 91014 53497</a>
                    <a class="email" href="mailto:info.pratikmajumdar@gmail.com">info.pratikmajumdar@gmail.com</a>
                    <a class="location" href="https://www.google.com/maps/place/Digboi,+Assam+786171/@27.3961295,95.6143905,14z/data=!3m1!4b1!4m5!3m4!1s0x373f224bedb2f695:0x98e34c5fbbcbff5e!8m2!3d27.3951473!4d95.6300233">Digboi, Assam</a>
                </div>
            </div>
            <a class="linkedin" href="https://www.linkedin.com/in/codadept/">Connect me on LinkedIn</a>
            <a class="twitter" href="https://www.twitter.com/itspratikmaj">Follow me on Twitter</a>
            <a class="instagram" href="https://www.instagram.com/itspratikmaj">Follow me on Instagram</a>
            <a class="facebook" href="https://www.facebook.com/itspratikmaj">Like me on Facebook</a>
        </div>
    </div>
</section>
<%- include('partials/foot') %> 