<%- include('partials/head') %> 
    <section class="content">
        <h1 class="title"><span>I'm</span> Pratik <div class="title-desg"></div> <span>Majumdar</span></h1>
        <img src="/img/body-background.svg" alt="It's me!">
        <h3 class="desc">web developer,<span> machine learning enthusiast</span></h3>
    </section>
<%- include('partials/foot') %> 