<%- include('partials/head') %> 
    <section class="content">
        <div class="content-text">
            <h1 class="title"><span class="highlight">I'm</span><br> Pratik <div class="title-desg"></div><br>Majumdar</h1>
            <h3 class="desc"><span class="desc-col">&#60; &#8725;</span> web developer,<br><span class="nl"> machine learning enthusiast <span class="desc-col">&#62;</span></span></h3>
        </div>
        <div class="content-img">
            <img src="/img/body-background.svg" alt="It's me!">
            <a href="https://drive.google.com/file/d/1WrmvAO-tI5SCtnPcArFYQw-LeiZRZAWv/view?usp=sharing" class="resume-button">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Resume
            </a>
        </div>
    </section>

    <section class="about">
        <div class="heading">
            <h1>Know something about me.</h1>
            <div class="heading-desg"></div>
            <h3>ABOUT</h3>
        </div>
        <div class="content">
            <div class="about-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga eius optio aperiam. Consequuntur est, repellendus aut numquam laborum commodi corrupti tempore corporis sit voluptates eum unde! Molestias maiores iusto modi sequi minima provident, corrupti voluptate accusantium consequatur facere temporibus explicabo ab nemo cupiditate eos sed ut et totam culpa qui atque tenetur odio nisi! Error, quibusdam itaque. Id, repudiandae provident?</p>
                <div class="connect">
                    <h2>Checkout my profiles</h2>
                    <a href="https://www.github.com/codadept" class="connect-btn effects">Github</a>
                    <a href="https://www.codeforces.com/profile/codadept" class="connect-btn effects">CodeForces</a>
                    <a href="https://www.codechef.com/users/codadept" class="connect-btn effects">CodeChef</a>
                </div>
            </div>
            <div class="skills">
                <h1>Skills</h1>
                <div class="skill-table">
                    <div class="skill-name">
                        <h3>Competitve Programming</h3>
                        <h3>Web Development</h3>
                        <h3>Machine Learning</h3>
                    </div>
                    <div class="skill-bar">
                        <div id="cp"></div>            
                        <div id="webd"></div>         
                        <div id="ml"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/foot') %> 