<%- include('partials/head') %> 
    <header>
        <h2><a href="/home">codadept</a></h2>
        <nav>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">About me</a></li>
        </nav>
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <main>
        <div class="background-image"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem modi dolor praesentium placeat rerum quas non repellat ab ipsum minima!</p>

    </main>
<%- include('partials/foot') %> 