<%- include('partials/head') %> 
    <section class="content">
        <div class="content-img">
            <img src="/img/body-background.svg" alt="It's me!">
            <a href="https://drive.google.com/file/d/1WrmvAO-tI5SCtnPcArFYQw-LeiZRZAWv/view?usp=sharing" class="resume-button">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Resume
            </a>
        </div>
        <h1 class="title"><span>I'm</span> Pratik <div class="title-desg"></div> <span>Majumdar</span></h1>
        <h3 class="desc">web developer,<span> machine learning enthusiast</span></h3>
    </section>
<%- include('partials/foot') %> 