<%- include('partials/head') %> 
    <header>
        <h2><a href="/home">codadept</a></h2>
        <nav>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">About me</a></li>
        </nav>
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <main class="profile">
        <div class="background-image"></div>
        <section class="content-area">
            <h2 class="title">Pratik Majumdar(codadept)</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem modi dolor praesentium placeat rerum quas non repellat ab ipsum minima!</p>
        </section>
    </main>
<%- include('partials/foot') %> 