<%- include('partials/head') %> 
<section class="projects-page">
    <div class="projects-home">
        <main>
            <div class="heading">
                <h1>Some of my works</h1>
                <div class="desg"></div>
                <h3>PROJECTS</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores mollitia quaerat adipisci, magni possimus minima itaque. Excepturi deserunt amet, nobis blanditiis, autem laboriosam quaerat quae ab nesciunt esse nisi eos.</p>
        </main>
        <aside>
            <img src="/img/projects.svg" alt="projects">
        </aside>
    </div>
</section>
<%- include('partials/foot') %> 