#btnScrollToTop img{
	width: 60%;
}

#btnScrollToTop{
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff8f63;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	outline: none;
	color: #ffffff;
	cursor: pointer;
	border: none;
	z-index: 1;
}

#btnScrollToTop:active{
	background: #ff8f63;
}

.resume-button{
	text-align: center;
	color: rgb(51, 45, 45);
	cursor: pointer;
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin: 0 0 2em;
	max-width: 200px;
	position: absolute;
	top: 90%;
	text-decoration: none;
	width: 100%;
	font-weight: 400;
	align-self: center;
}

@media (min-width: 600px) {
	.resume-button {
		margin: 0 1em 2em;
   }
}
.resume-button:hover {
	text-decoration: none;
	background: rgba(225, 51, 45, 0);
	font-weight: 900;
	letter-spacing: 1px;
}

.resume-button svg {
	height: 50px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.resume-button rect {
	fill: none;
	stroke: #6C63FF;
	stroke-width: 2;
	stroke-dasharray: 422, 0;
	transition: all 0.35s linear;
}

.resume-button:hover rect {
	stroke-width: 5;
	stroke-dasharray: 15, 310;
	stroke-dashoffset: 48;
	transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.connect-btn{
	background-color: transparent;
	border: 2px solid #6C63FF;
	border-radius: 0.6em;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.connect-btn:hover, .btn:focus {
	color: rgb(0, 0, 0);
	outline: 0;
}

.effects{
	border-color: #6C63FF;
	color: #000;
	background-image: -webkit-linear-gradient(45deg, #6C63FF 50%, transparent 50%);
	background-image: linear-gradient(45deg, #6C63FF 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.effects:hover {
background-position: 0;
}