#btnScrollToTop img{
	width: 60%;
}

#btnScrollToTop{
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #e62739;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	outline: none;
	color: #ffffff;
	cursor: pointer;
	border: none;
	z-index: 1;
}

#btnScrollToTop:active{
	background: #cc2333;
}
