/* Contacts styling */

section.contact{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

section.contact .contact-details{
    display: flex;
}

section.contact .contact-details .socials,
section.contact .contact-details .contact-img{
    width: 50%;
}

section.contact .contact-details .contact-img img{
    width: 100%;
}

section.contact .contact-details .socials{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: smaller;
}

section.contact .text{
    position: relative;
    width: max-content;
}

section.contact .text p{
    font-size: 1.8em;
    margin-left: 20px;
}

section.contact .text h1{
    font-size: 5.5em;
    margin-bottom: 40px;
}

section.contact .text h3{
    font-size: 7em;
    -webkit-text-stroke: 1px #6C63FF;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: -1;
}

section.contact .text .desg{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #6C63FF;
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
}


section.contact .contact-details .socials a{
    width: 50%;
    font-size: 1.5em;
    color: #3a3a3a;
    border: 2px solid #6C63FF;
    margin: 16px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
}

.linkedin{
    background: url("/img/linkedin.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.twitter{
    background: url("/img/twitter.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.instagram{
    background: url("/img/instagram.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.facebook{
    background: url("/img/facebook.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.call{
    background: url("/img/phone-call.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.email{
    background: url("/img/email.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.location{
    background: url("/img/pin.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

@media(min-width:1600px){
    section.contact .contact-details .socials{
        font-size: initial;
    }
    section.contact .contact-details .socials a{
        width: 55%;
        font-size: 1.8em;
        padding-left: 60px;
    }
    .facebook,.linkedin,.twitter,.instagram{
        background-size: 40px;
    }
}

@media(max-width:1500px){
    section.contact .contact-details .socials{
        font-size: 0.6em;
    }
    section.contact .contact-details .socials a{
        margin: 5px 20px;
    }
}

@media(max-width:1024px){
    section.contact .contact-details{
        flex-direction: column;
    }
    section.contact .contact-details .socials,
    section.contact .contact-details .contact-img{
        width: 100%;
    }
    section.contact .contact-details .contact-img{
        display: flex;
        justify-content: center;
    }
    section.contact .contact-details .contact-img img{
        width: 50%;
        margin: auto;
    }section.contact .contact-details .socials a{
        align-self: center;
    }section.contact .text h1{
        margin-bottom: 20px;
    }section.contact .text{
        margin-bottom: 40px;
    }section.contact .text p{
        margin-bottom: 10px;
    }
}

@media (max-width:700px){
    section.contact .contact-details .socials{
        font-size: 0.4em;
    }.facebook,.linkedin,.twitter,.instagram{
        background-size: 20px;
    }section.contact .contact-details .contact-img img{
        width: 70%;
    }section.contact .contact-details .socials a{
        width: 60%;
    }
}

/* Contact me section */

section.contact-me{
    width: 100%;
}

section.contact-me .send-email .more-contact .contact-info{
    display: flex;
    justify-content: center;
}


section.contact-me .send-email .more-contact .contact-info a{
    font-size: 0.7em;
    color: #2c2c2c;
    border: 2px solid #6C63FF;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
}

section.contact-me .send-email{
    display: flex;
}

section.contact-me .send-email .email-form,
section.contact-me .send-email .more-contact{
    width: 50%;
    padding: 10px;
    margin: 40px;
    height: min-content;
}

section.contact-me .send-email form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

::placeholder{
    color: #6C63FF;
    font-size: 1.2em;
    opacity: 0.6;
}

textarea{
    font-family: "Roboto Slab",sans-serif;
}

section.contact-me .send-email form input{
    height: 40px;
}

section.contact-me .send-email .email-form{
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(172, 172, 172);
}

.map iframe{
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
}

section.contact-me .send-email form input,
section.contact-me .send-email form textarea,
section.contact-me .send-email form button{
    border-radius: 5px;
    border: none;
    background-color: #eeedfd;
    padding: 20px;
    margin: 10px 0;
}

section.contact-me .send-email form button{
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0.7;
}

section.contact-me .send-email form button:hover{
    opacity: 1;
}

section.contact-me .send-email .email-form h1{
    font-size: 2em;
}

@media(max-width:1024px){
    section.contact-me .send-email{
        flex-direction: column;
        align-items: center;
    }
    section.contact-me .send-email .email-form,
    section.contact-me .send-email .more-contact{
        width: 80%;
    }
}

@media (max-width:700px){
    section.contact-me .send-email .more-contact .contact-info{
        flex-direction: column;
        align-items: center;
    }section.contact-me .send-email .more-contact .contact-info a{
        margin: 10px;
        width: 80%;
    }section.contact-me .send-email form{
        font-size: .7em;
    }::placeholder{
        font-size: .7em;
    }section.contact-me .send-email form button{
        font-size: 1.2em;
    }section.contact-me .send-email .more-contact h2{
        font-size: 1em;
    }section.contact-me .send-email form input,
    section.contact-me .send-email form textarea,
    section.contact-me .send-email form button{
        padding:10px;
    }
}