section.projects-page{
    width: 100%;
    min-height: 100vh;
    padding: 100px 40px;
    display: flex;
    align-items: center;
}

section.projects-page .projects-home{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.projects-page .projects-home main,
section.projects-page .projects-home aside{
    width: 50%;
}

section.projects-page .projects-home main,
section.projects-page .projects-home aside{
    display: flex;
    flex-direction: column;
}

section.projects-page .projects-home main .heading{
    position: relative;
    width: max-content;
    margin: 50px;
}

section.projects-page .projects-home aside img{
    width: 90%;
}

section.projects-page main h1{
    font-size: 4em;
}

section.projects-page main h3{
    font-size: 4em;
    -webkit-text-stroke: 1px #6C63FF;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 20%;
    z-index: -1;
}

section.projects-page main .desg{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #6C63FF;
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
}

section.projects-page .projects-home main p{
    font-size: 1.2em;
    text-align: justify;
}

@media(max-width:1500px){
    section.projects-page main{
        font-size: smaller;
    }
}

@media(max-width:1250px){
    section.projects-page main{
        font-size: 0.7em;
    }
}

@media(max-width:1050px){
    section.projects-page .projects-home{
        flex-direction: column;
    }   
    section.projects-page .projects-home main .heading{
        font-size: 0.7em;
    }
    section.projects-page .projects-home main,
    section.projects-page .projects-home aside{
        width: 100%;
        align-items: center;
    }
}

@media(max-width:800px){
    section.projects-page .projects-home main .heading{
        font-size: 0.6em;
    }
}