/* General styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px "Roboto Slab",sans-serif;
    color: #2b2b2b;
    background-color: #f9f7f7;
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

li{
    list-style: none;
}

a:hover{
    opacity: 1;
}