/* General styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px "Roboto Slab",sans-serif;
    color: #2b2b2b;
    background-color: #f9f7f7;
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

li{
    list-style: none;
}

a:hover{
    opacity: 1;
}

/* Header styles */

header{
    width: 100%;
    background-color: #6C63FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed ;
    z-index: 1;
    height: 80px;
}

header .nav-header,
header .nav-links{
    display: flex;
}

header .nav-header img{
    width: 50px;
    margin-right:0.7em;
}

.nav-links li{
    font-size: larger;
    margin-right: 1.5em;
}

/* Hamburger icon */

div.ham{
    display: none;
    opacity: .75;
    cursor: pointer;
}

div.ham:hover{
    opacity: 1;
}

div.hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Close icon */

.close {
    position: absolute;
    right: -150px;
    top: 12px;
    width: 28px;
    height: 28px;
    opacity: 0.75;
    z-index: 2;
    display: none;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

@media (max-width:800px) {
    header{
        height: 50px;
    }

    header .nav-links li{
        display: block;
        margin:15px 10px;
        padding: 0 10px;
    }

    header .nav-links{
        position: absolute;
        background: #ff8f63;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        flex-direction: column;
        padding-top: 70px;
    }

    header{
        justify-content:space-between;
        padding:0 20px ;
    }

    header h1{
        font-size: 20px;
    }
    header .nav-header img{
        width: 28px;
        margin-right: 5px;
    }
    div.ham{
        display: block;
    }

    .close{
        display: block;
    }
}

/* Content section styling */

section.content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
}

section.content .content-text{
    width: 35%;
    padding: 100px;
    padding-right: 0;
    margin: auto;
}
section.content .content-img{
    position: relative;
    width: 65%;
}

section.content .content-img img{
    width: 100%;
    margin-top:50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.content .content-text h1{
    font-size: 5.5em;
    position: relative;
    padding-bottom: 50px;
    letter-spacing: 3px;
}

section.content .content-text .desc{
    width: 100%;
    padding-right: 0;
}

section.content .content-text h1 .title-desg{
    width: 2.2em;
    height: 2.2em;
    background-color: #6C63FF;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: -1;
}

section.content .content-text h3{
    font-size: 1.6em;
    font-weight: 400;
}

.desc-col{
    color: #6C63FF;
    font-weight: 900;  
}

@media(max-width:1250px){
   section.content .content-text{
       font-size: 0.8em;
   }
   .resume-button{
       font-size: 1.2em;
       top:65%;
       right:30%;
   }
}

@media (max-width:1000px){
    section.content{
        flex-direction: column;
        font-size: 0.8em;
        align-items: center;
    }
    section.content .content-text{
        padding: 0;
        margin: 20px auto;
    }
    section.content .content-img{
        margin: 10px auto;
    }
    section.content .content-img img{
        margin: 0;
    }
    .resume-button{
        top: 90%;
        left: auto;
    }
}

@media (max-width:550px){
    section.content{
        font-size: 0.6em;
    }
    section.content .content-text{
        width: 100%;
        text-align: center;
    }
    section.content .content-img{
        width: 100%;
    }
    section.content .content-img img{
        width: 100%;
    }
    .resume-button{
        max-width: 100px;
        font-size: 1em;
        right: 38%;
    }
    section.content .content-text h1 .title-desg{
        left: 50%;
    }
}


/* About section styling */

section.about{
    width: 100%;
    margin-bottom: 50px;
}

section.about .heading{
    margin: 4%;
}

section.about .heading h1{
    font-size: 4em;
    position:relative;
    font-weight: 400;
}

section.about .heading .heading-desg{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #6C63FF;
    position: absolute;
    left: 45%;
    top:108%;
    z-index: -1;
}

@media (max-width:1675px){
    section.about .heading .heading-desg{
        left: 50%;
    }
    section.about .heading h3{
        top: 104%;
    }
}

section.about .heading h3{
    font-size: 6em;
    -webkit-text-stroke: 1px #6C63FF;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 108%;
    left: 8%;
    z-index: -1;
    letter-spacing: 20px;
}

section.about .content{
    margin: 0 3%;
    display: flex;
    font-size: 1.3em;
}

section.about .content .about-content{
    width: 60%;
    padding: 20px;
}

section.about .content .skills{
    width: 40%;
    padding: 20px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    box-shadow:1px 2px 10px#d6d6d6;
}

section.about .content .skills h1{
    padding: 10px;
}

section.about .content .skills .skill-table{
    display: flex;
}

section.about .content .skills .skill-table .skill-name{
    width: 70%;
    font-size: 0.9em;
}

section.about .content .skills .skill-table .skill-name h3{
    font-weight: 400;
    padding: 10px;
}

section.about .content .skills .skill-table .skill-bar{
    width: 30%;
}

section.about .content .skills .skill-table .skill-bar div{
    height: 26px;
    margin: 20px 0;
    background-color: #6C63FF;
    border-radius: 4px;
}

#cp{
    width: 30%;
}

#webd{
    width: 70%;
}

#ml{
    width: 40%;
}

section.about .content .about-content .connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.about .content .about-content .connect h2{
    font-size: 1em;
}

section.about .content p{
    text-align: justify;
}

@media(max-width:1400px){
    section.about .heading .heading-desg{
        left: 65%;
    }
    section.about .content{
        flex-direction: column;
        align-items: center;
    }
    section.about .content .about-content,
    section.about .content .skills{
        width: 80%;
    }
    section.about .content .skills .skill-table .skill-name,
    section.about .content .skills .skill-table .skill-bar{
        width: 50%;
    }
}

@media (max-width:950px){
    section.about .heading{
        font-size: .6em;
    }
    section.about .heading h3{
        top:104%;
    }
    section.about .heading .heading-desg{
        top: 104%;
    }
    section.about .content .about-content .connect{
        flex-direction: column;
    }
    .connect-btn{
        width: 200px;
        font-size: 0.6em;
    }
    section.about .content p{
        font-size: .8em;
        text-align: justify;
        margin-bottom: 20px;
    }
    section.about .content .about-content .connect h2{
        font-size: 0.8em;
    }
    section.about .content .skills h1{
        font-size: 1em;
    }
    section.about .content .skills .skill-table .skill-name{
        font-size: .6em;
    }section.about .content .skills .skill-table .skill-bar div{
        margin: 10px 0;
    }
}

@media (max-width:600px){
    section.about .content .skills .skill-table .skill-bar{
        width: 30%;
    }
    section.about .content .skills .skill-table .skill-name{
        width: 70%;
        font-size: 0.5em;
    }
    section.about .content .skills .skill-table .skill-bar div{
        height: 22px;
    }    
    section.about .heading{
        font-size: .4em;
    }
    section.about .heading h3{
        top:102%;
    }
    section.about .heading .heading-desg{
        top: 102%;
        left: 70%;
    }
}


/* Footer Styles */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #999999;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
}

footer span{
    font-size: 1.1em;
}

footer .foot-links{
    display: flex;
}

footer .foot-links li{
    padding: 20px;
}

@media (max-width:950px){
    footer{
        height: 200px;
        font-size: 1em;
        letter-spacing: 1.5px;
    }
    footer .foot-links,footer{
        flex-direction: column;
    }

    footer .foot-links li{
        padding: 5px;
    }

}