.about {
  width: 100%;
  padding: 3vw 5vw;
  color: var(--quaternary-100);
  font-size: 1vw;

  h1 {
    color: var(--secondary-100);
    font-size: 2vw;
  }

  p {
    margin-top: 1vw;
    user-select: none;
  }
}
