.footer {
  width: 80%;
  padding: 3rem 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .icon-container {
    width: 1.6vw;
    height: 1.6vw;

    .icon-link {
      height: 100%;

      .icon {
        height: 100%;
        filter: opacity(1);

        &:hover {
          transform: scale(1.1);
          filter: brightness(2);
          transition: all 0.2s;
        }
      }
    }
  }
}
